.form-signup-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	//background: red;
	height: 80dvh;

	a {
		font-size: 0.91rem;
		width: 90%;
		text-align: end;
		text-decoration: none;
		color: $white;
		padding-top: 15px;
		font-weight: 300;

		span {
			color: $secondary;
			font-weight: 300;
		}
	}
}
