.message-container {
	margin: 10px;
	//background: red;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: end;
	color: red;
	font-weight: 600;
	padding: 10px;
	height: 20px;
}
