.message-container {
	//background: red;
	width: 90%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $white;
	font-weight: 300;
	height: 20px;
    // visibility: hidden;
}
