.message-container {
	margin: 10px;
	background: red;
	width: 90%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $white;
	font-weight: 300;
	padding: 10px;
	height: 20px;
	visibility: hidden;
}
