.loginform-container {
	height: 70vh;
	//background: red;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 80dvh;
}

a {
	font-size: 0.91rem;
	width: 90%;
	text-align: end;
	text-decoration: none;
	color: $white;
	margin-top: 10px;

	font-weight: 300;

	span {
		color: $secondary;
		font-weight: 300;
	}
}
