@media (max-width: 1300px) {
}

@media (max-height: 800px) {
	.homepage-cards {
		:nth-child(1) {
			top: 190px;
		}

		:nth-child(2) {
			top: 250px;
		}
	}

	.account-card {
		height: 170px;
	}
}
// 	@media (max-width: 500px) {

// }
