@import "./reset.scss";
@import "../common/colors.scss";
@import "../components/alertMessage/message.scss";
@import "../components/button/button.scss";
@import "../components/input/input.scss";

@import "../components/header/header.scss";

@import "../pages/public/homepage/homepage.scss";

@import "../pages/public/signup/signup.scss";
@import "../pages/public/signup/signupForm/signupForm.scss";

@import "../pages/public/login/LoginForm/loginForm.scss";
@import "../pages/public/login/login.scss";
@import "../components/loading/loading.scss";
@import "../components/navBar/navbar.scss";
@import "../pages/private/account/account.scss";

//private routes
@import "../pages/private/profile/profile.scss";
@import "../pages/private/history/history.scss";
@import "../pages/private/transaction/transaction.scss";
// Media querys
@import "./media.scss";

*,
body,
html {
	font-family: "Alexandria", sans-serif;
}

.animeLeft {
	opacity: 0;
	transform: translateX(-20px);
	animation: animeLeft 0.9s forwards;
}

@keyframes animeLeft {
	to {
		opacity: 1;
		transform: initial;
	}
}
