.header {
	background: $primary;
	height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	h1 {
		font-size: 2.5rem;
		color: white;
		font-weight: 600;
	}

	span {
		padding-left: 10px;
		color: $secondary;
	}

	a {
		text-decoration: none;
	}
}

.login-icon {
	display: flex;
	align-items: center;

	a {
		color: $secondary;
		font-size: 1.2rem;
	}

	img {
		padding-left: 20px;
	}
}
