.header {
	background: $primary;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: "Alexandria", sans-serif;
flex-wrap: wrap;

	a {
		text-decoration: none;
		font-size: 1.2rem;
		h1 {
			color: $white;

			span {
				color: $seconday;
				padding-left: 5px;
			}
		}
	}
}
.login-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	img {
		padding-left: 10px;
	}

	a {
		text-decoration: none;
		color: $seconday;
		font-weight: 500;
		font-family: "Alexandria", sans-serif;
	}
}
