.signup-container {
	height: 100vh;
	background-image: url("../../assets/images/pexels-gustavo-trotta-13698081.jpg");
	background-position: top;
	background-size: 100% 80vh;
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	align-items: flex-end;
	object-fit: contain;
}

.signup-header {
	padding: 20px;
	//background: red;
	display: flex;
	justify-content: start;
	flex-direction: column;
	gap: 15px;
	height: 50vh;
	align-items: flex-start;

	h1 {
		color: $primary;
		font-size: 4rem;
	}

	h3 {
		color: $primary;
		font-size: 1.2rem;
	}
}

.form-signup-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $primary;
	height: 50vh;
	border-radius: 15px 15px 0 0;
	width: 100%;
}
