.signup-container {
	background-image: url("../../assets/images/2.jpg");
	background-position: start;
	background-attachment: fixed;
	background-size: cover;
	background-attachment: local;
	// background-size: 100% 80vh;
}

.signup-header {
	padding: 10px 20px;
	//background: blue;
	align-items: flex-start;
	display: flex;
	justify-content: start;
	flex-direction: column;
	gap: 15px;
	height: 30vh;

	h1 {
		color: $primary;
		font-size: 3rem;
	}

	h3 {
		color: $primary;
		font-size: 1.1rem;
	}
}
