.signup-container {
	background-image: url("../../assets/images/pexels-gustavo-trotta-13698081.jpg");
	background-position: top;
	background-size: 100vw 500px;
	// background-size: 100% 80vh;
	display: grid;
	flex-direction: column;
	background-repeat: no-repeat;
	align-items: flex-end;
	object-fit: contain;
	height: 100vh;
}

.signup-header {
	padding: 20px;
	//background: red;
	display: flex;
	justify-content: start;
	flex-direction: column;
	gap: 15px;
	height: 50vh;
	align-items: flex-end;

	h1 {
		color: $primary;
		font-size: 4rem;
	}

	h3 {
		color: $primary;
		font-size: 1.2rem;
	}
}
