$primary: #202020;
$primary-dark: #333232;
$primary-light: #202020;

// $primary: #315bbc;
// $primary-dark: #3362cf;
// $primary-light: #3969d8;

$secondary: #fac213;
$secondary-dark: #ffb300;

$red: #f93e3e;

$white: #ffffff;
$black: black;

// #202020
